textarea {
    max-width: 100%;
}
img {
    max-width: 100%;
}

.profile.row {
    margin-top: 40px;
    border: 1px solid;
    padding: 20px;
}

.adopt-btn {
    margin-left: auto;
}

h3 {
    border-bottom: 1px solid;
}

.profile.row.adopted {
    background: #b5d8b5;
}
